<div class="header">
    <div class="header-top">
        <div></div>
    </div>
    <div class="header-foot">
        <div class="header-menu">
            <a class="header-menu-item" routerLinkActive="menu-active" [routerLink]="['/home/expert']"> 首页</a>
            <a class="header-menu-item" routerLinkActive="menu-active" [routerLink]="['/home/central']"> 专家介绍</a>
            <a class="header-menu-item" routerLinkActive="menu-active" [routerLink]="['/home/central']"> 中心动态</a>
            <a class="header-menu-item" routerLinkActive="menu-active" [routerLink]="['/home/central']"> 省医资讯</a>
            <a class="header-menu-item" routerLinkActive="menu-active" [routerLink]="['/home/central']"> 通知公告 </a>
            <a class="header-menu-item" routerLinkActive="menu-active" [routerLink]="['/home/central']"> 协作医院</a>
            <a class="header-menu-item" routerLinkActive="menu-active" [routerLink]="['/home/central']"> 资源下载 </a>
            <a class="header-menu-item" routerLinkActive="menu-active" [routerLink]="['/home/central']"> 帮助</a>
        </div>
    </div>
</div>
<div class="content-body">
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>
